
<h1>My Tasks</h1>

<!-- <div class="custom-control custom-checkbox"> -->
<% @tasks.each do |task| %>
<div>
  <% if task.completed %>
    <input type="checkbox" checked />
  <% else %>
      <input type="checkbox" disabled/>
  <% end %>
  </div>
    <p><%= link_to task.title, task_path(task)%></p>



    <!-- <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
    <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label> -->

    <% end %>






<!--
clicking on the task opens a link: tasks/2 (show method)
use link_to "back to links" to go back to task -->






