<div>
  <%= @tasks.details %>
  <p>This task is not completed yet</p>
</div>

<%= link_to "Ask Another Question", tasks_path%>

<!-- add a form input checkbox type to update method in the controller
define update
to update i need to fetch id 2 requests -->

